@charset "UTf-8";

/*Mobile First*/

@font-face {
    font-family: 'sarpanch';
    src: url(../fonts/Sarpanch-Medium.ttf);
}

:root {
    color-scheme: light dark;

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: light-dark(var(--branco02));
    font-family: 'sarpanch';
    color: light-dark(var(--branco01), var(--preto05));
    font-size: 2em;
    transition: 500ms ease;
}

main {
    cursor: default;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mostrador {
    display: flex;
    padding: 10px;
    background-color: light-dark(var(--branco04), var(--preto03));
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.473);
    border-radius: 20px;
    transition: 500ms ease;
}

.hora, .minuto, .segundo {
    padding: 5px;
    border-radius: 15px;
    width: 110px;
    text-align: center;
    background-color: light-dark(var(--branco05), var(--preto02));
    transition: 500ms ease;
}

.separador {
    padding: 5px;
}